/* Assurez-vous que le conteneur principal utilise flexbox pour centrer les enfants */
main {
  justify-content: center;
  align-items: center;
  margin: 0; /* Retirez toute marge qui pourrait interférer */
}

/* Assurez-vous que les styles de profileDiv ne sont pas entravés par des styles globaux */
.profile-div {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60%; /* Ajustez selon le besoin */
  margin: auto; /* Centrage horizontal */
}

/* Supprimez tous les paddings ou margins globaux qui pourraient affecter l'alignement */
body, html {
  padding: 0;
  margin: 0;
  height: 100%; /* S'assurer que le corps prend toute la hauteur */
}

.nav-bar {
  margin-top: 10px;
  top: 20px;  /* Ajuster selon le besoin */
  left: 0;
  right: 0;
  z-index: 10;  /* S'assurer qu'il reste au-dessus des autres éléments */
}



.stage-container {
  flex: 1;
  min-width: 450px;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  background-color: #e8f5e9; /* Vert très clair */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}



.nav-link:hover, .nav-text:hover {
    padding: 0.5rem 1rem; /* Augmente le padding pour un effet plus visible */
    box-shadow: 0 0 10px rgba(255,255,255,0.7); /* Ajoute une ombre blanche pour un effet "glow" */
  }

  .stage-container input.form-control {
    margin-top: .5rem;
    box-shadow: none;
  }
  
  .stage-container input.form-control:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
  }
  
  .btn-outline-primary {
    border-color: #007bff;
    color: #007bff;
  }
  
  .btn-outline-primary:hover {
    background-color: #007bff;
    color: #fff;
  }
  
  @media (max-width: 767px) {
    .stage-container {
      max-width: 100%;
      margin-left: 0;
    }
  }

.btn-orange {
  color: #fff;
  background-color: #ff8c00; 
  border-color: #ff8c00; 
}

.btn-orange:hover {
    color: #fff;
    background-color: #e67e00; 
    border-color: #cc7000; 
}

.btn-orange:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 140, 0, 0.5);
}

.btn-orange.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #ff8c00; 
    border-color: #ff8c00; 
}

.btn-orange:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #cc7000; 
    border-color: #b36300; 
}

.btn-orange:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 140, 0, 0.5); 
}

.w-80 {
  width: 80% !important;
}


.custom-header {
  background-color: #00609D !important;
  color: #fff; /* Ensures text is readable on the dark background */
}

.cursor-pointer{
    cursor: pointer;
}

.centered-title {
  text-align: center;
}

.custom-header {
  background-color: #00609D !important;
  color: #fff; /* Ensures text is readable on the dark background */
}

#errorFiter {
  background-color: darkgray !important;
  color: #fff; /* Ensures text is readable on the dark background */
}

.form-group {
  margin-bottom: 15px;
  margin-top: 10px;
}

.form-group2 {
  margin-bottom: 20px;
  margin-top: 10px;
  width: 118px;
}

.form-group3 {
  margin-bottom: 20px;
  margin-top: 10px;
  width: 120px;
}

.input-group-text {
  background-color: transparent;
  border: none;
}

.profile-link {
  color: black;
}

.profile-link:visited {
  color: black;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: auto; /* Adjust to the size of the content */
  max-width: 60%; /* Maximum width */
  text-align: center; /* Center the text */
  border-radius: 10px; /* Round the corners */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

/* The Error Modal (background) */
#errorModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Error Modal Content */
#errorModal .modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: auto; /* Adjust to the size of the content */
  max-width: 60%; /* Maximum width */
  text-align: center; /* Center the text */
  border-radius: 10px; /* Round the corners */
  color: red; /* Red text color */
}

.flex-container-stats {
  display: flex;
  justify-content: center;
  gap: 3%; /* Adjust this value to change the space between elements */
}

.bg-lightred {
    background-color: #ffcccc !important; /* Vous pouvez ajuster la couleur selon vos besoins */
}