.nav-link:hover, .nav-text:hover {
    padding: 0.5rem 1rem; /* Augmente le padding pour un effet plus visible */
    box-shadow: 0 0 10px rgba(255,255,255,0.7); /* Ajoute une ombre blanche pour un effet "glow" */
  }

  .stage-container input.form-control {
    margin-top: .5rem;
    box-shadow: none;
  }
  
  .stage-container input.form-control:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
  }
  
  .btn-outline-primary {
    border-color: #007bff;
    color: #007bff;
  }
  
  .btn-outline-primary:hover {
    background-color: #007bff;
    color: #fff;
  }
  
  @media (max-width: 767px) {
    .stage-container {
      max-width: 100%;
      margin-left: 0;
    }
  }

.btn-orange {
  color: #fff;
  background-color: #ff8c00; 
  border-color: #ff8c00; 
}

.btn-orange:hover {
    color: #fff;
    background-color: #e67e00; 
    border-color: #cc7000; 
}

.btn-orange:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 140, 0, 0.5);
}

.btn-orange.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #ff8c00; 
    border-color: #ff8c00; 
}

.btn-orange:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #cc7000; 
    border-color: #b36300; 
}

.btn-orange:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 140, 0, 0.5); 
}

.w-80 {
  width: 80% !important;
}


.custom-header {
  background-color: #00609D !important;
  color: #fff; /* Ensures text is readable on the dark background */
}

#errorFiter {
  background-color: darkgray !important;
  color: #fff; /* Ensures text is readable on the dark background */
}


